<table>
  <thead>ID</thead>
  <thead>Nombre</thead>
  <thead>Descripcion</thead>
  <thead>Operaciones</thead>
  <tbody>
    <!-- recibimos el array -->
    {{#each tasksList}}
      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
            {{#if done}}
          <a href="/statusChange/{{_id}}">Terminada</a>
          {{else}}
          <a href="/statusChange/{{_id}}">No terminada</a>
          {{/if}}
          <a href="/delete/{{_id}}">Eliminar</a>
          <a href="/edit/{{_id}}">Editar</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>